     <div class="chat"style="visibility: hidden;" >
        <div class="bg-white w-3/12 p-6 chatContainer">
        <header>
            <h3 class="userName"></h3>
            <img>
            <p class="typing">escribiendo...</p>
        </header>
        <main>
            <div class="chatMessage"></div>
        </main>
        <footer>
            <input type="text" placeholder="Message" id="inputMessage"/>
            <button id="btnMessage">Enviar</button>
        </footer>
        </div>
    </div>
